<!-- Contiene todo el componente -->

<ng-sidebar-container>

    <ng-sidebar [opened]="opened" mode="slide" closeOnClickOutside="true" showBackdrop="true">

        <!-- contenido del menu sidebar -->
        <app-sidebar></app-sidebar>

    </ng-sidebar>

    <!--contenido de homepage -->
    <div ng-sidebar-content>

        <!-- Navbar - contiene boton sidebar, no logro mover componente -->
        <div class="container-fluid ">
            <div class="row align-items-center ">
                <div class="col">

                    <nav class="navbar navbar-expand-md  ">
                        <div class="container-fluid fixed-top " id="fondo">

                            <div class="row align-items-center justify-content-between  w-100">

                                <!--  menu cel + imagen-->
                                <div class="col-7   d-block d-sm-block d-md-none   ">
                                    <div class="row ">

                                        <!-- menu -->
                                        <div class="col-4">



                                            <img id="menu" src="https://i.ibb.co/RC3gXpR/lines.png" (click)="toggleSidebar()">




                                        </div>

                                        <!-- imagen -->
                                        <div class="col-8 ">
                                            <a href="home"><img id="chicacelu" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/616/789/themes/common/logo-1287632938-1618356569-f8696d2602803f69ab09cb0e31a708a51618356569-320-0.png?0"> </a>


                                        </div>
                                    </div>
                                </div>

                                <!-- iconos cel -->
                                <div class="col-5 d-block d-sm-block d-md-none text-end">

                                    <img id="icono" src="https://i.ibb.co/HxGFMDf/profile.png">
                                    <img id="icono" src="https://i.ibb.co/3SGt5CS/like.png">
                                    <img id="icono" src="https://i.ibb.co/ZSggkpL/bag.png">

                                </div>


                                <!-- imagen  pc -->
                                <div class="col-md-2  d-none d-sm-none d-md-block ">

                                    <a href="home"><img id="chica" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/616/789/themes/common/logo-1287632938-1618356569-f8696d2602803f69ab09cb0e31a708a51618356569-320-0.png?0"> </a>

                                </div>






                                <!-- elemento menu pc -->
                                <div class="col-md-10  d-none d-sm-none d-md-block ">

                                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown" *ngFor="let category of categories; let i = index">
                                                <a class="nav-link dropdown-toggle mt-2 ms-4" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <p id="fuente" class="h6 ">{{ category.name }}</p>
                                                </a>
                                                <ul id="fondo1" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a id="fuente" class="dropdown-item" [href]="category.link">ver categoria</a></li>
                                                    <li><a id="fuente" class="dropdown-item" *ngFor="let subcategory of category.children" [href]="category.link + '/' + subcategory.link"> {{ subcategory.name }} </a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>



                            <!-- iconos y search pc-->
                            <div class="col-2  d-none d-sm-none d-md-block">

                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <img id="icono" type="submit" src="https://i.ibb.co/nMXd9gz/search.png">
                                    <img id="icono" src="https://i.ibb.co/HxGFMDf/profile.png">
                                    <img id="icono" src="https://i.ibb.co/3SGt5CS/like.png">
                                    <img id="icono" src="https://i.ibb.co/ZSggkpL/bag.png">
                                </form>

                            </div>



                        </div>

                    </nav>

                </div>
            </div>
        </div>

        <!-- componentes de home -->




        <app-body></app-body>

        <app-footer></app-footer>






    </div>



    <!-- cierre de ng-sidebar-content -->
</ng-sidebar-container>