<!-- Newsletter pc -->


<div class="container  " id="margin-news">
    <div class="row justify-content-center">
        <div class="col-9 ">
            <h6 class=" text-center " id="fuente1">join to newsletter</h6>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-5">
            <div class="input-group flex-nowrap">

                <input type="text" class="form-control text-center" placeholder="email" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>

</div>