<div class="sidebar">
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion accordion-flush" id="accordionSideBar">
        <div class="accordion-item" *ngFor="let category of categories; let i = index">
            <h2 class="accordion-header" [id]="'flush-heading-' + i">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse-' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse-' + i">
                    {{ category.name }}
                </button>
            </h2>
            <div [id]="'flush-collapse-' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading-' + i" data-bs-parent="#accordionSideBar">
                <div class="accordion-body">
                    <a [href]="category.link">Ver categoria</a>
                </div>
                <div class="accordion-body" *ngFor="let subcategory of category.children">
                    <a [href]="category.link + '/' + subcategory.link">{{ subcategory.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>