<!-- Mapa -->
<div class="container mt-5">
    <div class="row  justify-content-center  ">
        <div class="col-8 ">
            <div class="row justify-content-center ">
                <div class="col-12 col-md-2 ">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">inicio</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">productos</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">consultas</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">como comprar</h6>
                    </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">atención al cliente</h6>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">inicio</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">productos</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">consultas</h6>
                    </a>
                </div>
                <div class="col-12 col-md-2">
                    <a href="" class="text-decoration-none">
                        <h6 class=" text-center " id="fuente">como comprar</h6>
                    </a>
                </div>

            </div>


            <div class="row justify-content-center ">
                <div class="col-1 mt-2">
                    <a href=""><img src="https://i.ibb.co/ZK15xht/instalink.png"></a>
                </div>
                <div class="col-1">
                    <a href=""><img href="" src="https://i.ibb.co/SvLjVbB/facebooklink.png"></a>
                </div>


            </div>




        </div>
    </div>
</div>